/* overall html */
html{
scroll-behavior: smooth;
background-color: #ffffff;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

color-pallete {
color-scheme: #3317d3, #47ffd1, #ca7df9, #ffffff, #f5e2c8, #0d0221;
}

/* for mobile screens */
@media only screen and (max-width: 970px) {
    h1 {
        display: flex;
        align-content: center;
    }
   #nav-bar {
    color: #ffffff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
   }
}

/* PC */
@media only screen and (min-width: 950px) {
/* adding flexbox and adjusting the height and font color of the header */
#nav-bar { 
    /* height: 75px; */
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
    /* adjusting margins on the listed header elements */
    #nav-bar ul li {
        margin-left: 20px;
        margin-right: 50px;
    }
}





/* header background */
header {
padding: 5px 5px;
background-color: #0d0221;
}






/*  Adjusting header 1 element "Jay Burkholder" inside nav-bar*/
h1 {
    text-transform: uppercase;
    font-size: 25px;
    padding-left: 50px;
}


/* adding flexbox directly to the unordered list on the navbar */
#nav-bar ul {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    list-style: none;
}

/* 


/* adjusting page list link elements */
#nav-bar ul li a{
color:#ffffff;
border: solid 2px #ffffff;
box-sizing: border-box;
text-decoration:none;
text-transform: uppercase;
margin: 5px;
display: inline-flex;
}


/* image below header */
.image-below-header {
background-color: #f5e2c8;
height: 500px;
display: flex;
justify-content: center;
align-items: center;
margin: auto;
}

img{
    width: 300px;
    position: relative;
    bottom: 2.5%;
}


/* This is the About Me section */
#About-Me {
    width: fit-content;
height: fit-content;
background-color: #3317d3;
display: flex;
justify-content: space-between;

}

/* This is the About Me header/title */
#About-Me h2 {
width: fit-content;
height: fit-content;
padding-left: 50px;
color: #ffffff;
}


/* The About Me paragraphs */
#About-Me p {
    color:#ffffff;
    width: 70%;
    padding-right: 30px;
    border-left: solid 2px #ca7df9;
    height: fit-content;
    padding-left: 50px;
}


/* The container for my projects */
#Works {
background-color: #f5e2c8;
display: flex;
justify-content: space-between;
height: fit-content;
width: fit-content;
}

#Works h2 {
width: fit-content;
height: fit-content;
padding-left: 50px;
color: #0d0221;
}
    
#Project-Container{
display: flex;
flex-wrap: wrap;
width: 70%;
padding-right: 30px;
border-left: solid 2px #47ffd1;
padding-left: 50px;
}

.featured-project{
    width: 100%;
    position: relative;
    top: 3.5%;
}

.rainy-day {
    width: 100%;
}

.Run-Buddy{
    padding-top: 50px;
 width: 100%;
}

.project-run-buddy{
width: 100%;
padding-top: 30px;
}


#Contact-Me {
height: 200px;
background-color: #3317d3;
}

#Contact-Me h2{
    margin-top: 0;
    width: fit-content;
    height: fit-content;
    padding-left: 50px;
    padding-right: 25px;
    color: #ffffff;
    }
    
    
    /* The About Me paragraphs */
    #Contact-Me p {
    width: 70%;
    color: #ffffff;
    padding-right: 30px;
    /* border-left: solid 2px #47ffd1; */
    height: fit-content;
    padding-left: 50px;
    }

    footer {
        background-color: #0d0221;
        height: 100px;
    }

    footer h2 {
        margin-top: 0;
        color: #ffffff;
        margin-left: 30px;
    }


