/* overall html */
html{
scroll-behavior: smooth;
background-color: #011638;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* header background */
header {
padding: 5px 5px;
background-color: #364156;
}



/* adding flexbox and adjusting the height and font color of the header */
#nav-bar { 
    height: 75px;
    color: #cdcdcd;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}


/*  Adjusting header 1 element "Jay Burkholder" inside nav-bar*/
h1 {
    text-transform: uppercase;
    font-size: 25px;
    padding-left: 50px;
}


/* adding flexbox directly to the unordered list on the navbar */
#nav-bar ul {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    list-style: none;
}


/* adjusting margins on the listed header elements */
#nav-bar ul li {
    margin-left: 20px;
    margin-right: 50px;
}


/* adjusting page list link elements */
#nav-bar ul li a{
color:#cdcdcd;
border: solid 2px #cdcdcd;
box-sizing: border-box;
text-decoration:none;
text-transform: uppercase;
font-size: 1vw;
margin: 5px;
display: inline-flex;
}


/* image below header */
.image-below-header {
background-color: #011638;
height: 500px;
display: flex;
justify-content: center;
align-items: center;
margin: auto;
}

img{
    width: 30%;
    position: relative;
    bottom: 2.5%;
}


/* This is the About Me section */
#About-Me {
height: 350px;
background-color: #cdcdcd;
display: flex;
justify-content: space-between;

}

/* This is the About Me header/title */
#About-Me h2 {
width: fit-content;
height: fit-content;
padding-left: 50px;
padding-right: 25px;
color: #364156;
}


/* The About Me paragraphs */
#About-Me p {
width: 70%;
padding-right: 30px;
border-left: solid 2px #364156;
height: fit-content;
padding-left: 50px;
}


/* The container for my projects */
#Works {
background-color: #dff8Eb;
display: flex;
justify-content: space-between;
height: 1300px;
}

#Works h2 {
width: fit-content;
height: fit-content;
padding-left: 50px;
padding-right: 25px;
color: #214e34;
}
    
#Project-Container{
display: flex;
flex-wrap: wrap;
width: 70%;
padding-right: 30px;
border-left: solid 2px #214e34;
padding-left: 50px;
}

.featured-project{
    width: 100%;
    position: relative;
    top: 3.5%;
}

.Run-Buddy{
 width: 100%;
}

.project-card{
width: 50%;
padding-top: 30px;
}


#Contact-Me {
height: 700px;
background-color: darkmagenta;
}

#Contact-Me h2{
    width: fit-content;
    height: fit-content;
    padding-left: 50px;
    padding-right: 25px;
    color: #364156;
    }
    
    
    /* The About Me paragraphs */
    #Contact-Me p {
    width: 70%;
    padding-right: 30px;
    border-left: solid 2px #364156;
    height: fit-content;
    padding-left: 50px;
    }

}
